---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
            <span class="subheading">Remotely monitor and manage your <a href="https://www.ockhams.se/dosify/" target="_blank" style="color:#fdc100;"><b>Dosify<sup>TM</sup></b></a> dispensers</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Modal1 -->
  <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ConcenSmart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div style="width: 100%; height: 0; padding-bottom: 56%; position: relative;">
            <div style="width: 100%; height: 100%; position: absolute; display: block; top: 0; left: 0;">
              <iframe width="100%" height="100%" src="https://player.vimeo.com/video/1112714776?dnt=1" frameborder="0" allowfullscreen></iframe> 
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal2 -->
  <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ConcenSmart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div style="width: 100%; height: 0; padding-bottom: 56%; position: relative;">
            <div style="width: 100%; height: 100%; position: absolute; display: block; top: 0; left: 0;">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ICpND6ajvXg?si=d0_bhPr_ZlDY4wdj" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>


